openapi: 3.1.0
info:
    title: Portable Agent Conversation API
    version: 2.3.0
    description: Внутренний API состояния диалога и оркестрации предложения действия.
    license:
        name: Apache-2.0
        identifier: Apache-2.0
servers:
    - url: https://api.portable-agent.dev/conversation
security:
    - bearerAuth: []
paths:
    /api/v1/messages:
        post:
            tags: [messages]
            operationId: createConversationMessage
            summary: Обработать сообщение в диалоге
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/MessageRequest"
            responses:
                "200":
                    description: Вопрос для уточнения или карточка сохранённого действия
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/MessageResponse"
                "401":
                    description: JWT отсутствует или не подходит Conversation Service
                "422":
                    description: Запрос не соответствует контракту
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Problem"
                "502":
                    description: Agent Runtime или Action Service временно недоступен
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Problem"
components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
    schemas:
        MessageRequest:
            type: object
            additionalProperties: false
            required: [requestKey, text, context]
            properties:
                conversationId:
                    type: string
                    format: uuid
                    description: Отсутствует у первого сообщения и возвращается в ответе.
                requestKey:
                    type: string
                    minLength: 1
                    maxLength: 200
                    pattern: "^[A-Za-z0-9._:-]+$"
                text:
                    type: string
                    minLength: 1
                    maxLength: 10000
                context:
                    $ref: "#/components/schemas/MessageContext"
        MessageContext:
            type: object
            additionalProperties: false
            required: [locale, timeZone]
            properties:
                locale:
                    type: string
                    minLength: 2
                    maxLength: 16
                timeZone:
                    type: string
                    minLength: 1
                    maxLength: 100
                    pattern: "^(UTC|[A-Za-z_]+(?:/[A-Za-z0-9_+-]+)+)$"
        MessageResponse:
            type: object
            additionalProperties: false
            required: [messageId, conversationId, reply]
            properties:
                messageId:
                    type: string
                    format: uuid
                conversationId:
                    type: string
                    format: uuid
                reply:
                    oneOf:
                        - $ref: "#/components/schemas/TextReply"
                        - $ref: "#/components/schemas/ConfirmationReply"
                    discriminator:
                        propertyName: type
                        mapping:
                            text: "#/components/schemas/TextReply"
                            confirmation: "#/components/schemas/ConfirmationReply"
        TextReply:
            type: object
            additionalProperties: false
            required: [type, text]
            properties:
                type:
                    type: string
                text:
                    type: string
                    minLength: 1
                    maxLength: 10000
        ConfirmationReply:
            type: object
            additionalProperties: false
            required: [type, card]
            properties:
                type:
                    type: string
                card:
                    $ref: "#/components/schemas/ActionConfirmationWidget"
        ActionConfirmationWidget:
            type: object
            additionalProperties: false
            required: [schemaVersion, widget, actionId, payloadHash, title, fields, actions]
            properties:
                schemaVersion: { type: integer, enum: [1] }
                widget: { type: string, enum: [action_confirmation] }
                actionId: { type: string, format: uuid }
                payloadHash: { type: string, pattern: "^[a-f0-9]{64}$" }
                title: { type: string, minLength: 1, maxLength: 120 }
                fields:
                    type: array
                    minItems: 1
                    items:
                        type: object
                        additionalProperties: false
                        required: [label, value]
                        properties:
                            label: { type: string, minLength: 1 }
                            value: { type: string, minLength: 1 }
                            sensitive: { type: boolean, default: false }
                actions:
                    type: array
                    minItems: 2
                    items:
                        type: object
                        additionalProperties: false
                        required: [id, label]
                        properties:
                            id: { enum: [confirm, cancel] }
                            label: { type: string, minLength: 1 }
        Problem:
            type: object
            additionalProperties: true
            required: [detail]
            properties:
                detail:
                    type: string
                    description: Короткое описание ошибки без внутренних данных сервиса.
